{% load static %}

<!-- This is the Group Admin View -->
<!DOCTYPE html>
<html>
<head>

	<title>User Brackets for {{ userGroup.name }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bracket/style.css' %}">
	
</head>
<body>
	<header>
		<a href="{% url 'bracket:userGroupView' userGroup.id%}"><h1>ALL USER BRACKET VIEW</h1></a>
	</header>
	
	{% for user in allUsers %}
	<br><br>
	<main>
		<h2>{{ user.firstName }} {{user.lastName }}: {{ user.points }} pts.</h2>
	</main>
	<footer>
		<table>
		<tr>
			<td>
			{%if user.groupA1 %}
				{%if user.group.editBracket %}
					{% if user.group.groupA1 == user.groupA1 %}
						<p class="team">{{ user.groupA1 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.groupA1 }}</p>
						<p class="team">{{ user.group.groupA1 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.groupA1 }}</p>
				{% endif %}
			{% else %}
				<p class="team">A1</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{%if user.groupB1 %}
				{%if user.group.editBracket %}
					{% if user.group.groupB1 == user.groupB1 %}
						<p class="team">{{ user.groupB1 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.groupB1 }}</p>
						<p class="team">{{ user.group.groupB1 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.groupB1 }}</p>
				{% endif %}
			{% else %}
				<p class="team">B1</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			{% if user.win1 %}
				{% if userGroup.editBracket %}
					{% if not userGroup.win1 %}
						<p class="team">{{ user.win1 }}</p>
					{% elif userGroup.win1 == user.win1 %}
						<p class="team">{{ user.win1 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.win1 }}</p>
						<p class="team">{{ user.group.win1 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.win1 }}</p>
				{% endif %}
			{% elif user.groupA1 and user.groupB2 %}
				<p class="team">Winner of {{ user.groupA1 }} vs {{ user.groupB2 }}</p>
			{% elif user.groupB2 %}
				<p class="team">Winner of A1 vs {{ user.groupB2 }}</p>
			{% elif user.groupA1 %}
				<p class="team">Winner of {{ user.groupA1 }} vs B2</p>
			{% else %}
				<p class="team">Winner of A1 vs B2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{% if user.win5 %}
				{% if userGroup.editBracket %}
					{% if not userGroup.win5 %}
						<p class="team">{{ user.win5 }}</p>
					{% elif userGroup.win5 == user.win5 %}
						<p class="team">{{ user.win5 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.win5 }}</p>
						<p class="team">{{ user.group.win5 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.win5 }}</p>
				{% endif %}
			{% elif user.groupB1 and user.groupA2 %}
				<p class="team">Winner of {{ user.groupB1 }} vs {{ user.groupA2 }}</p>
			{% elif user.groupA2 %}
				<p class="team">Winner of B1 vs {{ user.groupA2 }}</p>
			{% elif user.groupB1 %}
				<p class="team">Winner of {{ user.groupB1 }} vs A2</p>
			{% else %}
				<p class="team">Winner of B1 vs A2</p>
			{% endif %}
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupB2 %}
				{%if user.group.editBracket %}
					{% if user.group.groupB2 == user.groupB2 %}
						<p class="team">{{ user.groupB2 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.groupB2 }}</p>
						<p class="team">{{ user.group.groupB2 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.groupB2 }}</p>
				{% endif %}
			{% else %}
				<p class="team">B2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{%if user.groupA2 %}
				{%if user.group.editBracket %}
					{% if user.group.groupA2 == user.groupA2 %}
						<p class="team">{{ user.groupA2 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.groupA2 }}</p>
						<p class="team">{{ user.group.groupA2 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.groupA2 }}</p>
				{% endif %}
			{% else %}
				<p class="team">A2</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td>
			{% if user.win9 %}
				{% if userGroup.editBracket %}
					{% if not userGroup.win9 %}
						<p class="team">{{ user.win9 }}</p>
					{% elif userGroup.win9 == user.win9 %}
						<p class="team">{{ user.win9 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.win9 }}</p>
						<p class="team">{{ user.group.win9 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.win9 }}</p>
				{% endif %}
			{% elif user.win1 and user.win2 %}
				<p class="team">Winner of {{ user.win1 }} vs {{ user.win2 }}</p>
			{% elif user.win1 %}
				<p class="team">Winner of {{ user.win1 }} and ({{ user.groupA1 }} vs {{ user.groupB2 }})</p>
			{% elif user.win2 %}
				<p class="team">Winner of ({{ user.groupA1 }} and {{ user.groupB2 }}) vs {{ user.win2 }}</p>
			{% else %}
				<p class="team">Winner of ({{ user.groupA1 }} vs {{ user.groupB2 }}) and ({{ user.groupC1 }} vs {{ user.groupD2 }})</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{% if user.win11 %}
				{% if userGroup.editBracket %}
					{% if not userGroup.win11 %}
						<p class="team">{{ user.win11 }}</p>
					{% elif userGroup.win11 == user.win11 %}
						<p class="team">{{ user.win11 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.win11 }}</p>
						<p class="team">{{ user.group.win11 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.win11 }}</p>
				{% endif %}
			{% elif user.win5 and user.win6 %}
				<p class="team">Winner of {{ user.win5 }} vs {{ user.win6 }}</p>
			{% elif user.win5 %}
				<p class="team">Winner of {{ user.win5 }} and ({{ user.groupC1 }} vs {{ user.groupD2 }})</p>
			{% elif user.win6 %}
				<p class="team">Winner of ({{ user.groupB1 }} and {{ user.groupA2 }}) vs {{ user.win6 }}</p>
			{% else %}
				<p class="team">Winner of ({{ user.groupB1 }} vs {{ user.groupA2 }}) and ({{ user.groupD1 }} vs {{ user.groupC2 }})</p>
			{% endif %}
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupC1 %}
				{%if user.group.editBracket %}
					{% if user.group.groupC1 == user.groupC1 %}
						<p class="team">{{ user.groupC1 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.groupC1 }}</p>
						<p class="team">{{ user.group.groupC1 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.groupC1 }}</p>
				{% endif %}
			{% else %}
				<p class="team">C1</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{%if user.groupD1 %}
				{%if user.group.editBracket %}
					{% if user.group.groupD1 == user.groupD1 %}
						<p class="team">{{ user.groupD1 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.groupD1 }}</p>
						<p class="team">{{ user.group.groupD1 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.groupD1 }}</p>
				{% endif %}
			{% else %}
				<p class="team">D1</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			{% if user.win2 %}
				{% if userGroup.editBracket %}
					{% if not userGroup.win2 %}
						<p class="team">{{ user.win2 }}</p>
					{% elif userGroup.win2 == user.win2 %}
						<p class="team">{{ user.win2 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.win2 }}</p>
						<p class="team">{{ user.group.win2 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.win2 }}</p>
				{% endif %}
			{% elif user.groupC1 and user.groupD2 %}
				<p class="team">Winner of {{ user.groupC1 }} vs {{ user.groupD2 }}</p>
			{% elif user.groupD2 %}
				<p class="team">Winner of C1 vs {{ user.groupD2 }}</p>
			{% elif user.groupC1 %}
				<p class="team">Winner of {{ user.groupC1 }} vs D2</p>
			{% else %}
				<p class="team">Winner of C1 vs D2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">Champions</p>
				
				{% if user.champion %}
					{% if userGroup.editBracket %}
						{% if not userGroup.champion %}
							<p class="team">{{ user.champion }}</p>
						{% elif userGroup.champion == user.champion %}
							<p class="">{{ user.champion }}</p>
						{% else %}
							<p class="teamLoss">{{ user.champion }}</p>
							<p class="team">{{ user.group.champion }}</p>
						{% endif %}
					{% else %}
						<p class="team">{{ user.champion }}</p>
					{% endif %}
				{% else %}
					<p></p>
				{% endif %}
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{% if user.win6 %}
				{% if userGroup.editBracket %}
					{% if not userGroup.win6 %}
						<p class="team">{{ user.win6 }}</p>
					{% elif userGroup.win6 == user.win6 %}
						<p class="team">{{ user.win6 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.win6 }}</p>
						<p class="team">{{ user.group.win6 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.win6 }}</p>
				{% endif %}
			{% elif user.groupD1 and user.groupC2 %}
				<p class="team">Winner of {{ user.groupD1 }} vs {{ user.groupC2 }}</p>
			{% elif user.groupB2 %}
				<p class="team">Winner of D1 vs {{ user.groupC2 }}</p>
			{% elif user.groupD1 %}
				<p class="team">Winner of {{ user.groupD1 }} vs C2</p>
			{% else %}
				<p class="team">Winner of D1 vs C2</p>
			{% endif %}
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupD2 %}
				{%if user.group.editBracket %}
					{% if user.group.groupD2 == user.groupD2 %}
						<p class="team">{{ user.groupD2 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.groupD2 }}</p>
						<p class="team">{{ user.group.groupD2 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.groupD2 }}</p>
				{% endif %}
			{% else %}
				<p class="team">D2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{%if user.groupC2 %}
				{%if user.group.editBracket %}
					{% if user.group.groupC2 == user.groupC2 %}
						<p class="team">{{ user.groupC2 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.groupC2 }}</p>
						<p class="team">{{ user.group.groupC2 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.groupC2 }}</p>
				{% endif %}
			{% else %}
				<p class="team">C2</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			{% if user.win13 %}
				{% if userGroup.editBracket %}
					{% if not userGroup.win13 %}
						<p class="team">{{ user.win13 }}</p>
					{% elif userGroup.win13 == user.win13 %}
						<p class="team">{{ user.win13 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.win13 }}</p>
						<p class="team">{{ user.group.win13 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.win13 }}</p>
				{% endif %}
			{% elif user.win9 and user.win10 %}
				<p class="team">{{ user.win9 }} vs {{ user.win10 }}</p>
			{% else %}
				<p class="team">Left Side Winner</p>
			{% endif %}
			</td>
			<td>
				<p class="team">vs</p>
			</td>
			<td>
			{% if user.win14 %}
				{% if userGroup.editBracket %}
					{% if not userGroup.win14 %}
						<p class="team">{{ user.win14 }}</p>
					{% elif userGroup.win14 == user.win14 %}
						<p class="team">{{ user.win14 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.win14 }}</p>
						<p class="team">{{ user.group.win14 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.win14 }}</p>
				{% endif %}
			{% elif user.win12 and user.win11 %}
				<p class="team">{{ user.win11 }} vs {{ user.win12 }}</p>
			{% else %}
				<p class="team">Left Side Winner</p>
			{% endif %}
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupE1 %}
				{%if user.group.editBracket %}
					{% if user.group.groupE1 == user.groupE1 %}
						<p class="team">{{ user.groupE1 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.groupE1 }}</p>
						<p class="team">{{ user.group.groupE1 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.groupE1 }}</p>
				{% endif %}
			{% else %}
				<p class="team">E1</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{%if user.groupF1 %}
				{%if user.group.editBracket %}
					{% if user.group.groupF1 == user.groupF1 %}
						<p class="team">{{ user.groupF1 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.groupF1 }}</p>
						<p class="team">{{ user.group.groupF1 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.groupF1 }}</p>
				{% endif %}
			{% else %}
				<p class="team">F1</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			{% if user.win3 %}
				{% if userGroup.editBracket %}
					{% if not userGroup.win3 %}
						<p class="team">{{ user.win3 }}</p>
					{% elif userGroup.win3 == user.win3 %}
						<p class="team">{{ user.win3 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.win3 }}</p>
						<p class="team">{{ user.group.win3 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.win3 }}</p>
				{% endif %}
			{% elif user.groupE1 and user.groupF2 %}
				<p class="team">Winner of {{ user.groupE1 }} vs {{ user.groupF2 }}</p>
			{% elif user.groupF2 %}
				<p class="team">Winner of E1 vs {{ user.groupF2 }}</p>
			{% elif user.groupE1 %}
				<p class="team">Winner of {{ user.groupE1 }} vs F2</p>
			{% else %}
				<p class="team">Winner of E1 vs F2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
				<p class="team">3rd Place</p>
				
				{% if user.third %}
					{% if userGroup.editBracket %}
						{% if not userGroup.third %}
							<p class="team">{{ user.third }}</p>
						{% elif userGroup.third == user.third %}
							<p class="">{{ user.third }}</p>
						{% else %}
							<p class="teamLoss">{{ user.third }}</p>
							<p class="team">{{ user.group.third }}</p>
						{% endif %}
					{% else %}
						<p class="team">{{ user.third }}</p>
					{% endif %}
				{% else %}
					<p></p>
				{% endif %}
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{% if user.win7 %}
				{% if userGroup.editBracket %}
					{% if not userGroup.win7 %}
						<p class="team">{{ user.win7 }}</p>
					{% elif userGroup.win7 == user.win7 %}
						<p class="team">{{ user.win7 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.win7 }}</p>
						<p class="team">{{ user.group.win7 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.win7 }}</p>
				{% endif %}
			{% elif user.groupF1 and user.groupE2 %}
				<p class="team">Winner of {{ user.groupF1 }} vs {{ user.groupE2 }}</p>
			{% elif user.groupE2 %}
				<p class="team">Winner of F1 vs {{ user.groupE2 }}</p>
			{% elif user.groupF1 %}
				<p class="team">Winner of {{ user.groupF1 }} vs E2</p>
			{% else %}
				<p class="team">Winner of F1 vs E2</p>
			{% endif %}
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupF2 %}
				{%if user.group.editBracket %}
					{% if user.group.groupF2 == user.groupF2 %}
						<p class="team">{{ user.groupF2 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.groupF2 }}</p>
						<p class="team">{{ user.group.groupF2 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.groupF2 }}</p>
				{% endif %}
			{% else %}
				<p class="team">F2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{%if user.groupE2 %}
				{%if user.group.editBracket %}
					{% if user.group.groupE2 == user.groupE2 %}
						<p class="team">{{ user.groupE2 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.groupE2 }}</p>
						<p class="team">{{ user.group.groupE2 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.groupE2 }}</p>
				{% endif %}
			{% else %}
				<p class="team">E2</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td>
			{% if user.win10 %}
				{% if userGroup.editBracket %}
					{% if not userGroup.win10 %}
						<p class="team">{{ user.win10 }}</p>
					{% elif userGroup.win10 == user.win10 %}
						<p class="team">{{ user.win10 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.win10 }}</p>
						<p class="team">{{ user.group.win10 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.win10 }}</p>
				{% endif %}
			{% elif user.win3 and user.win4 %}
				<p class="team">Winner of {{ user.win3 }} vs {{ user.win4 }}</p>
			{% elif user.win3 %}
				<p class="team">Winner of {{ user.win3 }} and ({{ user.groupG1 }} vs {{ user.groupH2 }})</p>
			{% elif user.win4 %}
				<p class="team">Winner of ({{ user.groupE1 }} and {{ user.groupF2 }}) vs {{ user.win4 }}</p>
			{% else %}
				<p class="team">Winner of ({{ user.groupE1 }} vs {{ user.groupF2 }}) and ({{ user.groupG1 }} vs {{ user.groupH2 }})</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{% if user.win12 %}
				{% if userGroup.editBracket %}
					{% if not userGroup.win12 %}
						<p class="team">{{ user.win12 }}</p>
					{% elif userGroup.win12 == user.win12 %}
						<p class="team">{{ user.win12 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.win12 }}</p>
						<p class="team">{{ user.group.win12 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.win12 }}</p>
				{% endif %}
			{% elif user.win7 and user.win8 %}
				<p class="team">Winner of {{ user.win7 }} vs {{ user.win8 }}</p>
			{% elif user.win7 %}
				<p class="team">Winner of {{ user.win7 }} and ({{ user.groupH1 }} vs {{ user.groupG2 }})</p>
			{% elif user.win8 %}
				<p class="team">Winner of ({{ user.groupH1 }} and {{ user.groupG2 }}) vs {{ user.win8 }}</p>
			{% else %}
				<p class="team">Winner of ({{ user.groupF1 }} vs {{ user.groupE2 }}) and ({{ user.groupH1 }} vs {{ user.groupG2 }})</p>
			{% endif %}
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupG1 %}
				{%if user.group.editBracket %}
					{% if user.group.groupG1 == user.groupG1 %}
						<p class="team">{{ user.groupG1 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.groupG1 }}</p>
						<p class="team">{{ user.group.groupG1 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.groupG1 }}</p>
				{% endif %}
			{% else %}
				<p class="team">G1</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{%if user.groupH1 %}
				{%if user.group.editBracket %}
					{% if user.group.groupH1 == user.groupH1 %}
						<p class="team">{{ user.groupH1 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.groupH1 }}</p>
						<p class="team">{{ user.group.groupH1 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.groupH1 }}</p>
				{% endif %}
			{% else %}
				<p class="team">H1</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			{% if user.win4 %}
				{% if userGroup.editBracket %}
					{% if not userGroup.win4 %}
						<p class="team">{{ user.win4 }}</p>
					{% elif userGroup.win4 == user.win4 %}
						<p class="team">{{ user.win4 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.win4 }}</p>
						<p class="team">{{ user.group.win4 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.win4 }}</p>
				{% endif %}
			{% elif user.groupG1 and user.groupH2 %}
				<p class="team">Winner of {{ user.groupG1 }} vs {{ user.groupH2 }}</p>
			{% elif user.groupH2 %}
				<p class="team">Winner of G1 vs {{ user.groupH2 }}</p>
			{% elif user.groupG1 %}
				<p class="team">Winner of {{ user.groupG1 }} vs H2</p>
			{% else %}
				<p class="team">Winner of G1 vs H2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{% if user.win8 %}
				{% if userGroup.editBracket %}
					{% if not userGroup.win8 %}
						<p class="team">{{ user.win8 }}</p>
					{% elif userGroup.win8 == user.win8 %}
						<p class="team">{{ user.win8 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.win8 }}</p>
						<p class="team">{{ user.group.win8 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.win8 }}</p>
				{% endif %}
			{% elif user.groupH1 and user.groupG2 %}
				<p class="team">Winner of {{ user.groupH1 }} vs {{ user.groupG2 }}</p>
			{% elif user.groupG2 %}
				<p class="team">Winner of H1 vs {{ user.groupG2 }}</p>
			{% elif user.groupH1 %}
				<p class="team">Winner of {{ user.groupH1 }} vs G2</p>
			{% else %}
				<p class="team">Winner of H1 vs G2</p>
			{% endif %}
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupH2 %}
				{%if user.group.editBracket %}
					{% if user.group.groupH2 == user.groupH2 %}
						<p class="team">{{ user.groupH2 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.groupH2 }}</p>
						<p class="team">{{ user.group.groupH2 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.groupH2 }}</p>
				{% endif %}
			{% else %}
				<p class="team">H2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{%if user.groupG2 %}
				{%if user.group.editBracket %}
					{% if user.group.groupG2 == user.groupG2 %}
						<p class="team">{{ user.groupG2 }}</p>
					{% else %}
						<p class="teamLoss">{{ user.groupG2 }}</p>
						<p class="team">{{ user.group.groupG2 }}</p>
					{% endif %}
				{% else %}
					<p class="team">{{ user.groupG2 }}</p>
				{% endif %}
			{% else %}
				<p class="team">G2</p>
			{% endif %}
			</td>
		</tr>
		</table>
	</footer>
	{% endfor %}


	<br>
	<br>
</body>
</html>