{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="bracket:style.css">
<head>
<body>
	<h1>Spencer Wheeler</h1>
	<h2>Points: 16</h2>
	<h3>Current Leader: Tanner Wheeler</h3>
	
	
	<table>
		<tr>
			<td>
				<p class="team">A1</p>
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
				<p class="team">B1</p>
			</td>
		</tr>
			<td>
			</td>
			<td>
				<p class="team">Saudi Arabia</p>
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
				<p class="team">Switzerland</p>
			</td>
			<td>
			</td>
		<tr>
			<td>
				<p class="team">A2</p>
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
				<p class="team">B2</p>
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="team">Winner of Stage 2</p>
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
				<p class="team">Winner of Stage 2</p>
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
				<p class="team">C1</p>
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
				<p class="team">D1</p>
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
				<p class="team">Winner of C1 vs D2</p>
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
				<p class="team">World Champions</p>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
				<p class="team">Winner of D1 vs C2</p>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
				<p class="team">D2</p>
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">Champions</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
				<p class="team">C2</p>
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="team">Left Side Winner</p>
			</td>
			<td>
			</td>
			<td>
				<p class="team">Right Side Winner</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
				<p class="team">E1</p>
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
				<p class="team">F1</p>
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
				<p class="team">Winner of E1 vs F2</p>
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
				<p class="team">Winner of F1 vs E2</p>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
				<p class="team">F2</p>
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="team">3rd Place</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
				<p class="team">E2</p>
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="team">Winner of Stage 2</p>
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
				<p class="team">Winner of Stage 2</p>
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
				<p class="team">G1</p>
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
				<p class="team">H1</p>
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
				<p class="team">Winner of G1 vs H2</p>
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
				<p class="team">Winner of H1 vs G2</p>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
				<p class="team">H2</p>
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
				<p class="team">G2</p>
			</td>
		</tr>
	</table>
<body>
<html>