{% load static %}

<!-- This is the Bracket Choosing Page -->
<!DOCTYPE html>
<html>
<head>
	<title>Choose Team Test</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bracket/style.css' %}">
	
<head>
<body>
	<header>
		<a href="{% url 'bracket:userLogout' %}"><button>Logout</button></a>
	</header>
	<header>
		{% if user.win1 == "" %}
			<h1>Choose Winner of {{ user.groupA1 }} vs {{ user.groupB2 }}</h1>
		{% elif not user.win2 %}
			<h1>Choose a winner of {{ user.groupC1 }} vs {{ user.groupD2 }}</h1>
		{% elif not user.win3 %}
			<h1>Choose a winner of {{ user.groupE1 }} vs {{ user.groupF2 }}</h1>
		{% elif not user.win4 %}
			<h1>Choose a winner of {{ user.groupG1 }} vs {{ user.groupH2 }}</h1>
		{% elif not user.win5 %}
			<h1>Choose a winner of {{ user.groupB1 }} vs {{ user.groupA2 }}</h1>
		{% elif not user.win6 %}
			<h1>Choose a winner of {{ user.groupD1 }} vs {{ user.groupC2 }}</h1>
		{% elif not user.win7 %}
			<h1>Choose a winner of {{ user.groupF1 }} vs {{ user.groupE2 }}</h1>
		{% elif not user.win8 %}
			<h1>Choose a winner of {{ user.groupH1 }} vs {{ user.groupG2 }}</h1>
		{% elif not user.win9 %}
			<h1>Choose a winner of {{ user.win1 }} vs {{ user.win2 }}</h1>
		{% elif not user.win10 %}
			<h1>Choose a winner of {{ user.win3 }} vs {{ user.win4 }}</h1>
		{% elif not user.win11 %}
			<h1>Choose a winner of {{ user.win5 }} vs {{ user.win6 }}</h1>
		{% elif not user.win12 %}
			<h1>Choose a winner of {{ user.win7 }} vs {{ user.win8 }}</h1>
		{% elif not user.win13 %}
			<h1>Choose a winner of {{ user.win9 }} vs {{ user.win10 }}</h1>
		{% elif not user.win14 %}
			<h1>Choose a winner of {{ user.win11 }} vs {{ user.win12 }}</h1>
		{% elif not user.third %}
			<h1>Choose a Third Place Winner</h1>
		{% elif not user.champion %}
			<h1>Choose a Champion</h1>
		{% else %}
			<h1>Save your Bracket</h1>
		{% endif %}
	</header>
	
	<div class="groups">
		{% if not user.win1 %}
			<main>	
				<form action="{% url 'bracket:choice' user.id %}" method="POST">
				{% csrf_token %}			
					<input type="submit" name="button" value="Go Back to Groups">
				</form>
			
			<div class="add_team">
				<form action="{% url 'bracket:win' user.id %}" method="POST">
				{% csrf_token %}
					<div class="team_choice">
						<input id="{{ user.groupA1 }}" type="radio" name="team" value="{{ user.groupA1 }}"><label for="{{ user.groupA1 }}">{{ user.groupA1 }}</label>
					</div>
					
					<div class="team_choice">
						<input id="{{ user.groupB2 }}" type="radio" name="team" value="{{ user.groupB2 }}"><label for="{{ user.groupB2 }}">{{ user.groupB2 }}</label>
					</div>
					
					<input type="submit" name="button" value="Game 1">
				</form>
			</div>
			
		{% elif not user.win2 %}
			<main>	
				<form action="{% url 'bracket:dele' user.id %}" method="POST">
				{% csrf_token %}			
					<input type="submit" name="button" value="Go Back to Game 1">
				</form>
			
			
			<div class="add_team">
				<form action="{% url 'bracket:win' user.id %}" method="POST">
				{% csrf_token %}
					<div class="team_choice">
						<input id="{{ user.groupC1 }}" type="radio" name="team" value="{{ user.groupC1 }}"><label for="{{ user.groupC1 }}">{{ user.groupC1 }}</label>
					</div>
					
					<div class="team_choice">
						<input id="{{ user.groupD2 }}" type="radio" name="team" value="{{ user.groupD2 }}"><label for="{{ user.groupD2 }}">{{ user.groupD2 }}</label>
					</div>
					
					<input type="submit" name="button" value="Game 2">
				</form>
			</div>
			</main>
		{% elif not user.win3 %}
			<main>	
				<form action="{% url 'bracket:dele' user.id %}" method="POST">
				{% csrf_token %}			
					<input type="submit" name="button" value="Go Back to Game 2">
				</form>
			
			<div class="add_team">
				<form action="{% url 'bracket:win' user.id %}" method="POST">
				{% csrf_token %}
					<div class="team_choice">
						<input id="{{ user.groupE1 }}" type="radio" name="team" value="{{ user.groupE1 }}"><label for="{{ user.groupE1 }}">{{ user.groupE1 }}</label>
					</div>
					
					<div class="team_choice">
						<input id="{{ user.groupF2 }}" type="radio" name="team" value="{{ user.groupF2 }}"><label for="{{ user.groupF2 }}">{{ user.groupF2 }}</label>
					</div>
					
					<input type="submit" name="button" value="Game 3">
				</form>
			</div>
			
			</main>
		{% elif not user.win4 %}
			<main>	
				<form action="{% url 'bracket:dele' user.id %}" method="POST">
				{% csrf_token %}			
					<input type="submit" name="button" value="Go Back to Game 3">
				</form>
			
			<div class="add_team">
				<form action="{% url 'bracket:win' user.id %}" method="POST">
				{% csrf_token %}
					<div class="team_choice">
						<input id="{{ user.groupG1 }}" type="radio" name="team" value="{{ user.groupG1 }}"><label for="{{ user.groupG1 }}">{{ user.groupG1 }}</label>
					</div>
					
					<div class="team_choice">
						<input id="{{ user.groupH2 }}" type="radio" name="team" value="{{ user.groupH2 }}"><label for="{{ user.groupH2 }}">{{ user.groupH2 }}</label>
					</div>
					
					<input type="submit" name="button" value="Game 4">
				</form>
			</div>
			</main>
		{% elif not user.win5 %}
			<main>	
				<form action="{% url 'bracket:dele' user.id %}" method="POST">
				{% csrf_token %}			
					<input type="submit" name="button" value="Go Back to Game 4">
				</form>
			
			<div class="add_team">
				<form action="{% url 'bracket:win' user.id %}" method="POST">
				{% csrf_token %}
					<div class="team_choice">
						<input id="{{ user.groupB1 }}" type="radio" name="team" value="{{ user.groupB1 }}"><label for="{{ user.groupB1 }}">{{ user.groupB1 }}</label>
					</div>
					
					<div class="team_choice">
						<input id="{{ user.groupA2 }}" type="radio" name="team" value="{{ user.groupA2 }}"><label for="{{ user.groupA2 }}">{{ user.groupA2 }}</label>
					</div>
					
					<input type="submit" name="button" value="Game 5">
				</form>
			</div>
			</main>
		{% elif not user.win6 %}
			<main>	
				<form action="{% url 'bracket:dele' user.id %}" method="POST">
				{% csrf_token %}			
					<input type="submit" name="button" value="Go Back to Game 5">
				</form>
			
			<div class="add_team">
				<form action="{% url 'bracket:win' user.id %}" method="POST">
				{% csrf_token %}
					<div class="team_choice">
						<input id="{{ user.groupD1 }}" type="radio" name="team" value="{{ user.groupD1 }}"><label for="{{ user.groupD1 }}">{{ user.groupD1 }}</label>
					</div>
					
					<div class="team_choice">
						<input id="{{ user.groupC2 }}" type="radio" name="team" value="{{ user.groupC2 }}"><label for="{{ user.groupC2 }}">{{ user.groupC2 }}</label>
					</div>
					
					<input type="submit" name="button" value="Game 6">
				</form>
			</div>
			</main>
		{% elif not user.win7 %}
			<main>	
				<form action="{% url 'bracket:dele' user.id %}" method="POST">
				{% csrf_token %}			
					<input type="submit" name="button" value="Go Back to Game 6">
				</form>
			
			<div class="add_team">
				<form action="{% url 'bracket:win' user.id %}" method="POST">
				{% csrf_token %}
					<div class="team_choice">
						<input id="{{ user.groupF1 }}" type="radio" name="team" value="{{ user.groupF1 }}"><label for="{{ user.groupF1 }}">{{ user.groupF1 }}</label>
					</div>
					
					<div class="team_choice">
						<input id="{{ user.groupE2 }}" type="radio" name="team" value="{{ user.groupE2 }}"><label for="{{ user.groupE2 }}">{{ user.groupE2 }}</label>
					</div>
					
					<input type="submit" name="button" value="Game 7">
				</form>
			</div>
			</main>
		{% elif not user.win8 %}
			<main>	
				<form action="{% url 'bracket:dele' user.id %}" method="POST">
				{% csrf_token %}			
					<input type="submit" name="button" value="Go Back to Game 7">
				</form>
			
			<div class="add_team">
				<form action="{% url 'bracket:win' user.id %}" method="POST">
				{% csrf_token %}
					<div class="team_choice">
						<input id="{{ user.groupH1 }}" type="radio" name="team" value="{{ user.groupH1 }}"><label for="{{ user.groupH1 }}">{{ user.groupH1 }}</label>
					</div>
					
					<div class="team_choice">
						<input id="{{ user.groupG2 }}" type="radio" name="team" value="{{ user.groupG2 }}"><label for="{{ user.groupG2 }}">{{ user.groupG2 }}</label>
					</div>
					
					<input type="submit" name="button" value="Game 8">
				</form>
			</div>
			</main>
		{% elif not user.win9 %}
			<main>	
				<form action="{% url 'bracket:dele' user.id %}" method="POST">
				{% csrf_token %}			
					<input type="submit" name="button" value="Go Back to Game 8">
				</form>
			
			<div class="add_team">
				<form action="{% url 'bracket:win' user.id %}" method="POST">
				{% csrf_token %}
					<div class="team_choice">
						<input id="{{ user.win1 }}" type="radio" name="team" value="{{ user.win1 }}"><label for="{{ user.win1 }}">{{ user.win1 }}</label>
					</div>
					
					<div class="team_choice">
						<input id="{{ user.win2 }}" type="radio" name="team" value="{{ user.win2 }}"><label for="{{ user.win2 }}">{{ user.win2 }}</label>
					</div>
					
					<input type="submit" name="button" value="Game 9">
				</form>
			</div>
			</main>
		{% elif not user.win10 %}
			<main>	
				<form action="{% url 'bracket:dele' user.id %}" method="POST">
				{% csrf_token %}			
					<input type="submit" name="button" value="Go Back to Game 9">
				</form>
			
			<div class="add_team">
				<form action="{% url 'bracket:win' user.id %}" method="POST">
				{% csrf_token %}
					<div class="team_choice">
						<input id="{{ user.win3 }}" type="radio" name="team" value="{{ user.win3 }}"><label for="{{ user.win3 }}">{{ user.win3 }}</label>
					</div>
					
					<div class="team_choice">
						<input id="{{ user.win4 }}" type="radio" name="team" value="{{ user.win4 }}"><label for="{{ user.win4 }}">{{ user.win4 }}</label>
					</div>
					
					<input type="submit" name="button" value="Game 10">
				</form>
			</div>
			</main>
		{% elif not user.win11 %}
			<main>	
				<form action="{% url 'bracket:dele' user.id %}" method="POST">
				{% csrf_token %}			
					<input type="submit" name="button" value="Go Back to Game 10">
				</form>
			
			<div class="add_team">
				<form action="{% url 'bracket:win' user.id %}" method="POST">
				{% csrf_token %}
					<div class="team_choice">
						<input id="{{ user.win5 }}" type="radio" name="team" value="{{ user.win5 }}"><label for="{{ user.win5 }}">{{ user.win5 }}</label>
					</div>
					
					<div class="team_choice">
						<input id="{{ user.win6 }}" type="radio" name="team" value="{{ user.win6 }}"><label for="{{ user.win6 }}">{{ user.win6 }}</label>
					</div>
					
					<input type="submit" name="button" value="Game 11">
				</form>
			</div>
			</main>
		{% elif not user.win12 %}
			<main>	
				<form action="{% url 'bracket:dele' user.id %}" method="POST">
				{% csrf_token %}			
					<input type="submit" name="button" value="Go Back to Game 11">
				</form>
			
			<div class="add_team">
				<form action="{% url 'bracket:win' user.id %}" method="POST">
				{% csrf_token %}
					<div class="team_choice">
						<input id="{{ user.win7 }}" type="radio" name="team" value="{{ user.win7 }}"><label for="{{ user.win7 }}">{{ user.win7 }}</label>
					</div>
					
					<div class="team_choice">
						<input id="{{ user.win8 }}" type="radio" name="team" value="{{ user.win8 }}"><label for="{{ user.win8 }}">{{ user.win8 }}</label>
					</div>
					
					<input type="submit" name="button" value="Game 12">
				</form>
			</div>
			</main>
		{% elif not user.win13 %}
			<main>	
				<form action="{% url 'bracket:dele' user.id %}" method="POST">
				{% csrf_token %}			
					<input type="submit" name="button" value="Go Back to Game 12">
				</form>
			
			<div class="add_team">
				<form action="{% url 'bracket:win' user.id %}" method="POST">
				{% csrf_token %}
					<div class="team_choice">
						<input id="{{ user.win9 }}" type="radio" name="team" value="{{ user.win9 }}"><label for="{{ user.win9 }}">{{ user.win9 }}</label>
					</div>
					
					<div class="team_choice">
						<input id="{{ user.win10 }}" type="radio" name="team" value="{{ user.win10 }}"><label for="{{ user.win10 }}">{{ user.win10 }}</label>
					</div>
					
					<input type="submit" name="button" value="Game 13">
				</form>
			</div>
			</main>
		{% elif not user.win14 %}
			<main>	
				<form action="{% url 'bracket:dele' user.id %}" method="POST">
				{% csrf_token %}			
					<input type="submit" name="button" value="Go Back to Game 13">
				</form>
			
			<div class="add_team">
				<form action="{% url 'bracket:win' user.id %}" method="POST">
				{% csrf_token %}
					<div class="team_choice">
						<input id="{{ user.win11 }}" type="radio" name="team" value="{{ user.win11 }}"><label for="{{ user.win11 }}">{{ user.win11 }}</label>
					</div>
					
					<div class="team_choice">
						<input id="{{ user.win12 }}" type="radio" name="team" value="{{ user.win12 }}"><label for="{{ user.win12 }}">{{ user.win12 }}</label>
					</div>
					
					<input type="submit" name="button" value="Game 14">
				</form>
			</div>
			</main>
		{% elif not user.third %}
			<main>	
				<form action="{% url 'bracket:dele' user.id %}" method="POST">
				{% csrf_token %}			
					<input type="submit" name="button" value="Go Back to Game 14">
				</form>
			
			<div class="add_team">
				<form action="{% url 'bracket:win' user.id %}" method="POST">
				{% csrf_token %}
					<div class="team_choice">
						<input id="{{ user.loss1 }}" type="radio" name="team" value="{{ user.loss1 }}"><label for="{{ user.loss1 }}">{{ user.loss1 }}</label>
					</div>
					
					<div class="team_choice">
						<input id="{{ user.loss2 }}" type="radio" name="team" value="{{ user.loss2 }}"><label for="{{ user.loss2 }}">{{ user.loss2 }}</label>
					</div>
					
					<input type="submit" name="button" value="Third Place">
				</form>
			</div>
			</main>
		{% elif not user.champion %}
			<main>	
				<form action="{% url 'bracket:dele' user.id %}" method="POST">
				{% csrf_token %}			
					<input type="submit" name="button" value="Reselect Third">
				</form>
			
			<div class="add_team">
				<form action="{% url 'bracket:win' user.id %}" method="POST">
				{% csrf_token %}
					<div class="team_choice">
						<input id="{{ user.win13 }}" type="radio" name="team" value="{{ user.win13 }}"><label for="{{ user.win13 }}">{{ user.win13 }}</label>
					</div>
					
					<div class="team_choice">
						<input id="{{ user.win14 }}" type="radio" name="team" value="{{ user.win14 }}"><label for="{{ user.win14 }}">{{ user.win14 }}</label>
					</div>
					
					<input type="submit" name="button" value="Champion">
				</form>
			</div>
			</main>
		{% else %}
		<main>
			<form action="{% url 'bracket:dele' user.id %}" method="POST">
			{% csrf_token %}			
				<input type="submit" name="button" value="Reselect Champion">
			</form>
			
			<p></p>
			
			<form action="{% url 'bracket:saved' user.id %}" method="POST">
			{% csrf_token %}			
				<input type="submit" name="save" value="Save Bracket">
			</form>
			<p>ONCE SAVED YOU CAN'T EDIT YOUR BRACKET</p>
		</main>
		{% endif %}
		
	</div>
	
	
	<br><br>
	<footer>
		<table>
		<tr>
			<td>
			{%if user.groupA1 %}
				<p class="team">{{ user.groupA1 }}</p>
			{% else %}
				<p class="team">A1</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{%if user.groupB1 %}
				<p class="team">{{ user.groupB1 }}</p>
			{% else %}
				<p class="team">B1</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			{% if user.win1 %}
				<p class="team">{{ user.win1 }}</p>
			{% elif user.groupA1 and user.groupB2 %}
				<p class="team">Winner of {{ user.groupA1 }} vs {{ user.groupB2 }}</p>
			{% elif user.groupB2 %}
				<p class="team">Winner of A1 vs {{ user.groupB2 }}</p>
			{% elif user.groupA1 %}
				<p class="team">Winner of {{ user.groupA1 }} vs B2</p>
			{% else %}
				<p class="team">Winner of A1 vs B2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{% if user.win5 %}
				<p class="team">{{ user.win5 }}</p>
			{% elif user.groupB1 and user.groupA2 %}
				<p class="team">Winner of {{ user.groupB1 }} vs {{ user.groupA2 }}</p>
			{% elif user.groupA2 %}
				<p class="team">Winner of B1 vs {{ user.groupA2 }}</p>
			{% elif user.groupB1 %}
				<p class="team">Winner of {{ user.groupB1 }} vs A2</p>
			{% else %}
				<p class="team">Winner of B1 vs A2</p>
			{% endif %}
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupB2 %}
				<p class="team">{{ user.groupB2 }}</p>
			{% else %}
				<p class="team">B2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{%if user.groupA2 %}
				<p class="team">{{ user.groupA2 }}</p>
			{% else %}
				<p class="team">A2</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td>
			{% if user.win9 %}
				<p class="team">{{ user.win9 }}</p>
			{% elif user.win1 and user.win2 %}
				<p class="team">Winner of {{ user.win1 }} vs {{ user.win2 }}</p>
			{% elif user.win1 %}
				<p class="team">Winner of {{ user.win1 }} and ({{ user.groupA1 }} vs {{ user.groupB2 }})</p>
			{% elif user.win2 %}
				<p class="team">Winner of ({{ user.groupA1 }} and {{ user.groupB2 }}) vs {{ user.win2 }}</p>
			{% else %}
				<p class="team">Winner of ({{ user.groupA1 }} vs {{ user.groupB2 }}) and ({{ user.groupC1 }} vs {{ user.groupD2 }})</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{% if user.win11 %}
				<p class="team">{{ user.win11 }}</p>
			{% elif user.win5 and user.win6 %}
				<p class="team">Winner of {{ user.win5 }} vs {{ user.win6 }}</p>
			{% elif user.win5 %}
				<p class="team">Winner of {{ user.win5 }} and ({{ user.groupC1 }} vs {{ user.groupD2 }})</p>
			{% elif user.win6 %}
				<p class="team">Winner of ({{ user.groupB1 }} and {{ user.groupA2 }}) vs {{ user.win6 }}</p>
			{% else %}
				<p class="team">Winner of ({{ user.groupB1 }} vs {{ user.groupA2 }}) and ({{ user.groupD1 }} vs {{ user.groupC2 }})</p>
			{% endif %}
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupC1 %}
				<p class="team">{{ user.groupC1 }}</p>
			{% else %}
				<p class="team">C1</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{%if user.groupD1 %}
				<p class="team">{{ user.groupD1 }}</p>
			{% else %}
				<p class="team">D1</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			{% if user.win2 %}
				<p class="team">{{ user.win2 }}</p>
			{% elif user.groupC1 and user.groupD2 %}
				<p class="team">Winner of {{ user.groupC1 }} vs {{ user.groupD2 }}</p>
			{% elif user.groupD2 %}
				<p class="team">Winner of C1 vs {{ user.groupD2 }}</p>
			{% elif user.groupC1 %}
				<p class="team">Winner of {{ user.groupC1 }} vs D2</p>
			{% else %}
				<p class="team">Winner of C1 vs D2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">Champions</p>
				
				{% if user.champion %}
					<p>{{ user.champion }}</p>
				{% else %}
					<p></p>
				{% endif %}
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{% if user.win6 %}
				<p class="team">{{ user.win6 }}</p>
			{% elif user.groupD1 and user.groupC2 %}
				<p class="team">Winner of {{ user.groupD1 }} vs {{ user.groupC2 }}</p>
			{% elif user.groupB2 %}
				<p class="team">Winner of D1 vs {{ user.groupC2 }}</p>
			{% elif user.groupD1 %}
				<p class="team">Winner of {{ user.groupD1 }} vs C2</p>
			{% else %}
				<p class="team">Winner of D1 vs C2</p>
			{% endif %}
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupD2 %}
				<p class="team">{{ user.groupD2 }}</p>
			{% else %}
				<p class="team">D2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{%if user.groupC2 %}
				<p class="team">{{ user.groupC2 }}</p>
			{% else %}
				<p class="team">C2</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			{% if user.win13 %}
				<p class="team">{{ user.win13 }}</p>
			{% elif user.win9 and user.win10 %}
				<p class="team">{{ user.win9 }} vs {{ user.win10 }}</p>
			{% else %}
				<p class="team">Left Side Winner</p>
			{% endif %}
			</td>
			<td>
				<p class="team">vs</p>
			</td>
			<td>
			{% if user.win14 %}
				<p class="team">{{ user.win14 }}</p>
			{% elif user.win12 and user.win11 %}
				<p class="team">{{ user.win11 }} vs {{ user.win12 }}</p>
			{% else %}
				<p class="team">Left Side Winner</p>
			{% endif %}
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupE1 %}
				<p class="team">{{ user.groupE1 }}</p>
			{% else %}
				<p class="team">E1</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{%if user.groupF1 %}
				<p class="team">{{ user.groupF1 }}</p>
			{% else %}
				<p class="team">F1</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			{% if user.win3 %}
				<p class="team">{{ user.win3 }}</p>
			{% elif user.groupE1 and user.groupF2 %}
				<p class="team">Winner of {{ user.groupE1 }} vs {{ user.groupF2 }}</p>
			{% elif user.groupF2 %}
				<p class="team">Winner of E1 vs {{ user.groupF2 }}</p>
			{% elif user.groupE1 %}
				<p class="team">Winner of {{ user.groupE1 }} vs F2</p>
			{% else %}
				<p class="team">Winner of E1 vs F2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
				<p class="team">3rd Place</p>
				
				{% if user.third %}
					<p>{{ user.third }}</p>
				{% else %}
					<p></p>
				{% endif %}
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{% if user.win7 %}
				<p class="team">{{ user.win7 }}</p>
			{% elif user.groupF1 and user.groupE2 %}
				<p class="team">Winner of {{ user.groupF1 }} vs {{ user.groupE2 }}</p>
			{% elif user.groupE2 %}
				<p class="team">Winner of F1 vs {{ user.groupE2 }}</p>
			{% elif user.groupF1 %}
				<p class="team">Winner of {{ user.groupF1 }} vs E2</p>
			{% else %}
				<p class="team">Winner of F1 vs E2</p>
			{% endif %}
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupF2 %}
				<p class="team">{{ user.groupF2 }}</p>
			{% else %}
				<p class="team">F2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{%if user.groupE2 %}
				<p class="team">{{ user.groupE2 }}</p>
			{% else %}
				<p class="team">E2</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td>
			{% if user.win10 %}
				<p class="team">{{ user.win10 }}</p>
			{% elif user.win3 and user.win4 %}
				<p class="team">Winner of {{ user.win3 }} vs {{ user.win4 }}</p>
			{% elif user.win3 %}
				<p class="team">Winner of {{ user.win3 }} and ({{ user.groupG1 }} vs {{ user.groupH2 }})</p>
			{% elif user.win4 %}
				<p class="team">Winner of ({{ user.groupE1 }} and {{ user.groupF2 }}) vs {{ user.win4 }}</p>
			{% else %}
				<p class="team">Winner of ({{ user.groupE1 }} vs {{ user.groupF2 }}) and ({{ user.groupG1 }} vs {{ user.groupH2 }})</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{% if user.win12 %}
				<p class="team">{{ user.win12 }}</p>
			{% elif user.win7 and user.win8 %}
				<p class="team">Winner of {{ user.win7 }} vs {{ user.win8 }}</p>
			{% elif user.win7 %}
				<p class="team">Winner of {{ user.win7 }} and ({{ user.groupH1 }} vs {{ user.groupG2 }})</p>
			{% elif user.win8 %}
				<p class="team">Winner of ({{ user.groupH1 }} and {{ user.groupG2 }}) vs {{ user.win8 }}</p>
			{% else %}
				<p class="team">Winner of ({{ user.groupF1 }} vs {{ user.groupE2 }}) and ({{ user.groupH1 }} vs {{ user.groupG2 }})</p>
			{% endif %}
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupG1 %}
				<p class="team">{{ user.groupG1 }}</p>
			{% else %}
				<p class="team">G1</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{%if user.groupH1 %}
				<p class="team">{{ user.groupH1 }}</p>
			{% else %}
				<p class="team">H1</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			{% if user.win4 %}
				<p class="team">{{ user.win4 }}</p>
			{% elif user.groupG1 and user.groupH2 %}
				<p class="team">Winner of {{ user.groupG1 }} vs {{ user.groupH2 }}</p>
			{% elif user.groupH2 %}
				<p class="team">Winner of G1 vs {{ user.groupH2 }}</p>
			{% elif user.groupG1 %}
				<p class="team">Winner of {{ user.groupG1 }} vs H2</p>
			{% else %}
				<p class="team">Winner of G1 vs H2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{% if user.win8 %}
				<p class="team">{{ user.win8 }}</p>
			{% elif user.groupH1 and user.groupG2 %}
				<p class="team">Winner of {{ user.groupH1 }} vs {{ user.groupG2 }}</p>
			{% elif user.groupG2 %}
				<p class="team">Winner of H1 vs {{ user.groupG2 }}</p>
			{% elif user.groupH1 %}
				<p class="team">Winner of {{ user.groupH1 }} vs G2</p>
			{% else %}
				<p class="team">Winner of H1 vs G2</p>
			{% endif %}
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupH2 %}
				<p class="team">{{ user.groupH2 }}</p>
			{% else %}
				<p class="team">H2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{%if user.groupG2 %}
				<p class="team">{{ user.groupG2 }}</p>
			{% else %}
				<p class="team">G2</p>
			{% endif %}
			</td>
		</tr>
		</table>
	</footer>
<body>
<html>