{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Choose Team Test</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bracket/style.css' %}">
	
	<!--<script>
		var printTeam = function(){
			var output = document.getElementById('team');
			
			var radio = document.getElementById('Russia');
			
			if(radio.checked){
				output.textContent = "Team: " + radio.value;
			}
			
			radio = document.getElementById('Egypt');
			if(radio.checked){
				output.textContent = "Team: " + radio.value;
			}
			
			radio = document.getElementById('Saudi Arabia');
			if(radio.checked){
				output.textContent = "Team: " + radio.value;
			}
			
			radio = document.getElementById('Uruguay');
			if(radio.checked){
				output.textContent = "Team: " + radio.value;
			}
		}
	</script>-->
<head>
<body>
	<h1>Choose Winner of {{ group }}</h1>
	
	<form action="{% url 'bracket:submit' user.id group.id %}" method="POST">
	{% csrf_token %}
		{% for team in group.team_set.all %}
			<input id="{{ team.name }}" type="radio" name="{{ group.name }}1" value="{{ team.name }}"><label for="{{ team.name }}">{{ team.name }} ({{ team.ranking }})</label><br><br>
		{% endfor %}
		
		<h3>Choose the Second Place of {{ group }}</h3>
		
		{% for team in group.team_set.all %}
			<input id="{{ team.name }}" type="radio" name="{{ group.name }}2" value="{{ team.name }}"><label for="{{ team.name }}">{{ team.name }} ({{ team.ranking }})</label><br><br>
		{% endfor %}

	
		<button type=submit">Submit</button>
	</form>
	
	<br><br>
		<table>
		<tr>
			<td>
			{%if user.groupA1 != ""%}
				<p class="team">{{ user.groupA1 }}</p>
			{% else %}
				<p class="team">A1</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{%if user.groupB1 %}
				<p class="team">{{ user.groupB1 }}</p>
			{% else %}
				<p class="team">B1</p>
			{% endif %}
			</td>
		</tr>
			<td>
			</td>
			<td>
				<p class="team">Saudi Arabia</p>
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
				<p class="team">Switzerland</p>
			</td>
			<td>
			</td>
		<tr>
			<td>
			{%if user.groupB2 %}
				<p class="team">{{ user.groupB2 }}</p>
			{% else %}
				<p class="team">B2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{%if user.groupA2 %}
				<p class="team">{{ user.groupA2 }}</p>
			{% else %}
				<p class="team">A2</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="team">Winner of Stage 2</p>
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
				<p class="team">Winner of Stage 2</p>
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupC1 %}
				<p class="team">{{ user.groupC1 }}</p>
			{% else %}
				<p class="team">C1</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{%if user.groupD1 %}
				<p class="team">{{ user.groupD1 }}</p>
			{% else %}
				<p class="team">D1</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
				<p class="team">Winner of C1 vs D2</p>
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
				<p class="team">World Champions</p>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
				<p class="team">Winner of D1 vs C2</p>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupD2 %}
				<p class="team">{{ user.groupD2 }}</p>
			{% else %}
				<p class="team">D2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">Champions</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{%if user.groupC2 %}
				<p class="team">{{ user.groupC2 }}</p>
			{% else %}
				<p class="team">C2</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="team">Left Side Winner</p>
			</td>
			<td>
			</td>
			<td>
				<p class="team">Right Side Winner</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupE1 %}
				<p class="team">{{ user.groupE1 }}</p>
			{% else %}
				<p class="team">E1</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{%if user.groupF1 %}
				<p class="team">{{ user.groupF1 }}</p>
			{% else %}
				<p class="team">F1</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
				<p class="team">Winner of E1 vs F2</p>
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
				<p class="team">Winner of F1 vs E2</p>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupF2 %}
				<p class="team">{{ user.groupF2 }}</p>
			{% else %}
				<p class="team">F2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="team">3rd Place</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{%if user.groupE2 %}
				<p class="team">{{ user.groupE2 }}</p>
			{% else %}
				<p class="team">E2</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="team">Winner of Stage 2</p>
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
				<p class="team">Winner of Stage 2</p>
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupG1 %}
				<p class="team">{{ user.groupG1 }}</p>
			{% else %}
				<p class="team">G1</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{%if user.groupH1 %}
				<p class="team">{{ user.groupH1 }}</p>
			{% else %}
				<p class="team">H1</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
				<p class="team">Winner of G1 vs H2</p>
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
				<p class="team">Winner of H1 vs G2</p>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupH2 %}
				<p class="team">{{ user.groupH2 }}</p>
			{% else %}
				<p class="team">H2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{%if user.groupG2 %}
				<p class="team">{{ user.groupG2 }}</p>
			{% else %}
				<p class="team">G2</p>
			{% endif %}
			</td>
		</tr>
	</table>
<body>
<html>