{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Choose Team Test</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bracket/style.css' %}">
	
<head>
<body>
	<header>
		<h1>Choose Winner of Each Group</h1>
	</header>
	
	<div class="groups">
		{% for thisGroup in group %}
			<form action="{% url 'bracket:submit' user.id %}" method="POST">
			{% csrf_token %}
				<div class="add_team">
					<h3>Choose First Place for {{ thisGroup.name }}</h3>
					<div class="team_box">
						{% for team in thisGroup.team_set.all %}
							<div class="team_choice">
								<input id="{{ team.name }}" type="radio" name="1" value="{{ team.name }}"><label for="{{ team.name }}">{{ team.name }} ({{ team.ranking }})</label>
							</div>
						{% endfor %}
					</div>
		
					<h3>Choose Second Place for {{ thisGroup.name }}</h3>
		
					<div class="team_box">
						{% for team in thisGroup.team_set.all %}
							<div class="team_choice">
								<input id="{{ team.name }}" type="radio" name="2" value="{{ team.name }}"><label for="{{ team.name }}">{{ team.name }} ({{ team.ranking }})</label>
							</div>
						{% endfor %}
					</div>
					
					<input type="submit" name="group" value="{{ thisGroup.name }}">
				</div>
			</form>
		{% endfor %}
	</div>
	<br><br>
	
	<footer>
		<div id="link_button"><button id="important_button" disabled>Finish Group Choices</button></div>
		
		<script>
			if('{{ user.groupA1 }}' != "" && '{{ user.groupA2 }}' != "" && '{{ user.groupB1 }}' != "" && '{{ user.groupB2 }}' != "" && '{{ user.groupC1 }}' != "" && '{{ user.groupC2 }}' != "" && '{{ user.groupD1 }}' != "" && '{{ user.groupD2 }}' != "" && '{{ user.groupE1 }}' != "" && '{{ user.groupE2 }}' != "" && '{{ user.groupF1 }}' != "" && '{{ user.groupF2 }}' != "" && '{{ user.groupG1 }}' != "" && '{{ user.groupG2 }}' != "" && '{{ user.groupH1 }}' != "" && '{{ user.groupH2 }}' != ""){
				var importantButton = document.getElementById("important_button");
				importantButton.textContent = "Finish Bracket";
				importantButton.disabled = false;
				
				var section = document.getElementById('link_button');
				var link = document.createElement('a');
				
				link.setAttribute("href", "{% url 'bracket:bracket' user.id %}");
				
				link.appendChild(importantButton);
				section.appendChild(link);
			}
		</script>
	</footer>
	
	<br><br>
	<footer>
		<table>
		<tr>
			<td>
			{%if user.groupA1 != ""%}
				<p class="team">{{ user.groupA1 }}</p>
			{% else %}
				<p class="team">A1</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{%if user.groupB1 %}
				<p class="team">{{ user.groupB1 }}</p>
			{% else %}
				<p class="team">B1</p>
			{% endif %}
			</td>
		</tr>
			<td>
			</td>
			<td>
			{% if user.groupA1 and user.groupB2 %}
				<p class="team">Winner of {{ user.groupA1 }} vs {{ user.groupB2 }}</p>
			{% elif user.groupB2 %}
				<p class="team">Winner of A1 vs {{ user.groupB2 }}</p>
			{% elif user.groupA1 %}
				<p class="team">Winner of {{ user.groupA1 }} vs B2</p>
			{% else %}
				<p class="team">Winner of A1 vs B2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{% if user.groupB1 and user.groupA2 %}
				<p class="team">Winner of {{ user.groupB1 }} vs {{ user.groupA2 }}</p>
			{% elif user.groupA2 %}
				<p class="team">Winner of B1 vs {{ user.groupA2 }}</p>
			{% elif user.groupB1 %}
				<p class="team">Winner of {{ user.groupB1 }} vs A2</p>
			{% else %}
				<p class="team">Winner of B1 vs A2</p>
			{% endif %}
			</td>
			<td>
			</td>
		<tr>
			<td>
			{%if user.groupB2 %}
				<p class="team">{{ user.groupB2 }}</p>
			{% else %}
				<p class="team">B2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{%if user.groupA2 %}
				<p class="team">{{ user.groupA2 }}</p>
			{% else %}
				<p class="team">A2</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td>
			{% if user.win1 and user.win2 %}
				<p class="team">Winner of {{ user.win1 }} vs {{ user.win2 }}</p>
			{% elif user.win1 %}
				<p class="team">Winner of {{ user.win1 }} and ({{ user.groupA1 }} vs {{ user.groupB2 }})</p>
			{% elif user.win2 %}
				<p class="team">Winner of ({{ user.groupA1 }} and {{ user.groupB2 }}) vs {{ user.win2 }}</p>
			{% else %}
				<p class="team">Winner of ({{ user.groupA1 }} vs {{ user.groupB2 }}) and ({{ user.groupC1 }} vs {{ user.groupD2 }})</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{% if user.win5 and user.win6 %}
				<p class="team">Winner of {{ user.win5 }} vs {{ user.win6 }}</p>
			{% elif user.win5 %}
				<p class="team">Winner of {{ user.win5 }} and ({{ user.groupC1 }} vs {{ user.groupD2 }})</p>
			{% elif user.win6 %}
				<p class="team">Winner of ({{ user.groupB1 }} and {{ user.groupA2 }}) vs {{ user.win6 }}</p>
			{% else %}
				<p class="team">Winner of ({{ user.groupB1 }} vs {{ user.groupA2 }}) and ({{ user.groupD1 }} vs {{ user.groupC2 }})</p>
			{% endif %}
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupC1 %}
				<p class="team">{{ user.groupC1 }}</p>
			{% else %}
				<p class="team">C1</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{%if user.groupD1 %}
				<p class="team">{{ user.groupD1 }}</p>
			{% else %}
				<p class="team">D1</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			{% if user.groupC1 and user.groupD2 %}
				<p class="team">Winner of {{ user.groupC1 }} vs {{ user.groupD2 }}</p>
			{% elif user.groupD2 %}
				<p class="team">Winner of C1 vs {{ user.groupD2 }}</p>
			{% elif user.groupC1 %}
				<p class="team">Winner of {{ user.groupC1 }} vs D2</p>
			{% else %}
				<p class="team">Winner of C1 vs D2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
				<p class="team">World Champions</p>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{% if user.groupD1 and user.groupC2 %}
				<p class="team">Winner of {{ user.groupD1 }} vs {{ user.groupC2 }}</p>
			{% elif user.groupB2 %}
				<p class="team">Winner of D1 vs {{ user.groupC2 }}</p>
			{% elif user.groupD1 %}
				<p class="team">Winner of {{ user.groupD1 }} vs C2</p>
			{% else %}
				<p class="team">Winner of D1 vs C2</p>
			{% endif %}
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupD2 %}
				<p class="team">{{ user.groupD2 }}</p>
			{% else %}
				<p class="team">D2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">Champions</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{%if user.groupC2 %}
				<p class="team">{{ user.groupC2 }}</p>
			{% else %}
				<p class="team">C2</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="team">Left Side Winner</p>
			</td>
			<td>
			</td>
			<td>
				<p class="team">Right Side Winner</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupE1 %}
				<p class="team">{{ user.groupE1 }}</p>
			{% else %}
				<p class="team">E1</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{%if user.groupF1 %}
				<p class="team">{{ user.groupF1 }}</p>
			{% else %}
				<p class="team">F1</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			{% if user.groupE1 and user.groupF2 %}
				<p class="team">Winner of {{ user.groupE1 }} vs {{ user.groupF2 }}</p>
			{% elif user.groupF2 %}
				<p class="team">Winner of E1 vs {{ user.groupF2 }}</p>
			{% elif user.groupE1 %}
				<p class="team">Winner of {{ user.groupE1 }} vs F2</p>
			{% else %}
				<p class="team">Winner of E1 vs F2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{% if user.groupF1 and user.groupE2 %}
				<p class="team">Winner of {{ user.groupF1 }} vs {{ user.groupE2 }}</p>
			{% elif user.groupE2 %}
				<p class="team">Winner of F1 vs {{ user.groupE2 }}</p>
			{% elif user.groupF1 %}
				<p class="team">Winner of {{ user.groupF1 }} vs E2</p>
			{% else %}
				<p class="team">Winner of F1 vs E2</p>
			{% endif %}
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupF2 %}
				<p class="team">{{ user.groupF2 }}</p>
			{% else %}
				<p class="team">F2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="team">3rd Place</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{%if user.groupE2 %}
				<p class="team">{{ user.groupE2 }}</p>
			{% else %}
				<p class="team">E2</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td>
			{% if user.win3 and user.win4 %}
				<p class="team">Winner of {{ user.win3 }} vs {{ user.win4 }}</p>
			{% elif user.win3 %}
				<p class="team">Winner of {{ user.win3 }} and ({{ user.groupG1 }} vs {{ user.groupH2 }})</p>
			{% elif user.win4 %}
				<p class="team">Winner of ({{ user.groupE1 }} and {{ user.groupF2 }}) vs {{ user.win4 }}</p>
			{% else %}
				<p class="team">Winner of ({{ user.groupE1 }} vs {{ user.groupF2 }}) and ({{ user.groupG1 }} vs {{ user.groupH2 }})</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{% if user.win7 and user.win8 %}
				<p class="team">Winner of {{ user.win7 }} vs {{ user.win8 }}</p>
			{% elif user.win7 %}
				<p class="team">Winner of {{ user.win7 }} and ({{ user.groupH1 }} vs {{ user.groupG2 }})</p>
			{% elif user.win8 %}
				<p class="team">Winner of ({{ user.groupH1 }} and {{ user.groupG2 }}) vs {{ user.win8 }}</p>
			{% else %}
				<p class="team">Winner of ({{ user.groupF1 }} vs {{ user.groupE2 }}) and ({{ user.groupH1 }} vs {{ user.groupG2 }})</p>
			{% endif %}
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupG1 %}
				<p class="team">{{ user.groupG1 }}</p>
			{% else %}
				<p class="team">G1</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{%if user.groupH1 %}
				<p class="team">{{ user.groupH1 }}</p>
			{% else %}
				<p class="team">H1</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			{% if user.groupG1 and user.groupH2 %}
				<p class="team">Winner of {{ user.groupG1 }} vs {{ user.groupH2 }}</p>
			{% elif user.groupH2 %}
				<p class="team">Winner of G1 vs {{ user.groupH2 }}</p>
			{% elif user.groupG1 %}
				<p class="team">Winner of {{ user.groupG1 }} vs H2</p>
			{% else %}
				<p class="team">Winner of G1 vs H2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{% if user.groupH1 and user.groupG2 %}
				<p class="team">Winner of {{ user.groupH1 }} vs {{ user.groupG2 }}</p>
			{% elif user.groupG2 %}
				<p class="team">Winner of H1 vs {{ user.groupG2 }}</p>
			{% elif user.groupH1 %}
				<p class="team">Winner of {{ user.groupH1 }} vs G2</p>
			{% else %}
				<p class="team">Winner of H1 vs G2</p>
			{% endif %}
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if user.groupH2 %}
				<p class="team">{{ user.groupH2 }}</p>
			{% else %}
				<p class="team">H2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{%if user.groupG2 %}
				<p class="team">{{ user.groupG2 }}</p>
			{% else %}
				<p class="team">G2</p>
			{% endif %}
			</td>
		</tr>
		</table>
	</footer>
<body>
<html>