{% load static %}

<!-- This is the Group Admin View -->
<!DOCTYPE html>
<html>
<head>

	<title>Set Winners for {{ userGroup.name }}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'bracket/style.css' %}">
	
</head>
<body>
	<header>
		<a href="{%url 'bracket:userGroupLogout' %}"><button>Logout</button></a>
	<header>
	<header style="border:solid;padding-right:50px;padding-left:50px">
		<h1>GROUP ADMIN VIEW</h1>
	</header>

	<div class="userGroupMain">
	<div class="userGroupButtons">
		<p style="border: solid;padding:10px">Prize: <br>{{ userGroup.prize }}</p>
		<p style="border: solid;padding:10px">Number of People in Group: {{ userGroup.user_set.count }}</p>
		<p style="border: solid;padding:10px">Current Leader: {{ userGroup.leader }}</p>
		<p>Number of Groups: {{ userGroup.group_set.count }}</p>
		<a href="{% url 'bracket:adminGroups' userGroup.id %}"><button>Add Groups and Teams</button></a><br><br>
		<a href="{% url 'bracket:viewAllBrackets' userGroup.id %}"><button>View All Brackets</button></a><br><br>
		
		
		
		<p id="editingText">Allow Editing: {{ userGroup.edit }}</p>
		{% if userGroup.edit %}
			<a href="{% url 'bracket:userGroupEdit' userGroup.id %}"><button>Stop Editing</button></a><br><br>
		{% else %}
			<a href="{% url 'bracket:userGroupEdit' userGroup.id %}"><button>Allow Editing</button></a><br><br>
		{% endif %}
		
		{% if not userGroup.editBracket and not userGroup.edit %}
			<p align="center">Click to score group stage and allow bracket editing:<br><a href="{% url 'bracket:sumGroupStage' userGroup.id %}"><button>Score Group Stage</button></a></p>
		{% endif %}
		
		{% if userGroup.editBracket and not userGroup.edit%}
			<p align="center">Click to score bracket stage<a href="{% url 'bracket:sumBracketStage' userGroup.id %}"><button>Score Brackets</button></a></p>
		{% endif %}
	
	</div>

	<aside>
	<header>
		<h1>Select the Winners</h1>
	</header>
	
	<header>
		<p class="team">Group Stage</p>
		
		<form action="{% url 'bracket:userStage' userGroup.id %}" method="POST" id="setTeam">
		{% csrf_token %}
			<label>Choose A Team</label>
			<select class="teamOption" name="team" form="setTeam">
				<option name="team" value="NOTHING"></option>
				{% for group in userGroup.group_set.all %}
					{% for team in group.team_set.all %}
						<option value="{{ team.name }} ({{ team.ranking }})">{{ team.name }}</option>
					{% endfor %}
				{% endfor %}
			</select>
			<br>
			
			<label>Choose A Position</label>
			<select class="teamOption" name="position" form="setTeam">
				<option value="NOTHING"></option>
				<option value="A1">A1</option>
				<option value="A2">A2</option>
				<option value="B1">B1</option>
				<option value="B2">B2</option>
				<option value="C1">C1</option>
				<option value="C2">C2</option>
				<option value="D1">D1</option>
				<option value="D2">D2</option>
				<option value="E1">E1</option>
				<option value="E2">E2</option>
				<option value="F1">F1</option>
				<option value="F2">F2</option>
				<option value="G1">G1</option>
				<option value="G2">G2</option>
				<option value="H1">H1</option>
				<option value="H2">H2</option>
			</select>
			<br>
			<input id="submitTeamButton" type="submit" value="Submit Team">
		</form>
	</header><br>
	
	<div class="groups">
		<div class="view_team">
			<p>Group A</p>
			<p>First: {{ userGroup.groupA1 }}</p>
			<p>Second: {{ userGroup.groupA2 }}</p>
		</div>
		<div class="view_team">
			<p>Group B</p>
			<p>First: {{ userGroup.groupB1 }}</p>
			<p>Second: {{ userGroup.groupB2 }}</p>
		</div>
		<div class="view_team">
			<p>Group C</p>
			<p>First: {{ userGroup.groupC1 }}</p>
			<p>Second: {{ userGroup.groupC2 }}</p>
		</div>
		<div class="view_team">
			<p>Group D</p>
			<p>First: {{ userGroup.groupD1 }}</p>
			<p>Second: {{ userGroup.groupD2 }}</p>
		</div>
		<div class="view_team">
			<p>Group E</p>
			<p>First: {{ userGroup.groupE1 }}</p>
			<p>Second: {{ userGroup.groupE2 }}</p>
		</div>
		<div class="view_team">
			<p>Group F</p>
			<p>First: {{ userGroup.groupF1 }}</p>
			<p>Second: {{ userGroup.groupF2 }}</p>
		</div>
		<div class="view_team">
			<p>Group G</p>
			<p>First: {{ userGroup.groupG1 }}</p>
			<p>Second: {{ userGroup.groupG2 }}</p>
		</div>
		<div class="view_team">
			<p>Group H</p>
			<p>First: {{ userGroup.groupH1 }}</p>
			<p>Second: {{ userGroup.groupH2 }}</p>
		</div>
	</div>
	
	
	{%if userGroup.groupA1 and userGroup.groupA2 and userGroup.groupB1 and userGroup.groupB2 and userGroup.groupC1 and userGroup.groupC2 and userGroup.groupD1 and userGroup.groupD2 and userGroup.groupE1 and userGroup.groupE2 and userGroup.groupF1 and userGroup.groupF2 and userGroup.groupG1 and userGroup.groupG2 and userGroup.groupH1 and userGroup.groupH2 %}
	<br><br>
	<header>
		<p class="team">Bracket Stage</p>
	</header>
	
	<main>
		<div class="groups">
			<div class="view_team">
				<h4>Game 1</h4>
				<form action="{% url 'bracket:userBracket' userGroup.id %}" method="POST">
				{% csrf_token %}
					<select name="team">
						<option value="{{ userGroup.groupA1 }}">{{ userGroup.groupA1 }}</option>
						<option value="{{ userGroup.groupB2 }}">{{ userGroup.groupB2 }}</option>
					</select>
					
					<input type="submit" name="game" value="Game 1">
				</form>
				
				<p>Winner: {{ userGroup.win1 }}</p>
			</div>
			<div class="view_team">
				<h4>Game 2</h4>
				<form action="{% url 'bracket:userBracket' userGroup.id %}" method="POST">
				{% csrf_token %}
					<select name="team">
						<option value="{{ userGroup.groupC1 }}">{{ userGroup.groupC1 }}</option>
						<option value="{{ userGroup.groupD2 }}">{{ userGroup.groupD2 }}</option>
					</select>
					
					<input type="submit" name="game" value="Game 2">
				</form>
				
				<p>Winner: {{ userGroup.win2 }}</p>
			</div>
			<div class="view_team">
				<h4>Game 3</h4>
				<form action="{% url 'bracket:userBracket' userGroup.id %}" method="POST">
				{% csrf_token %}
					<select name="team">
						<option value="{{ userGroup.groupE1 }}">{{ userGroup.groupE1 }}</option>
						<option value="{{ userGroup.groupF2 }}">{{ userGroup.groupF2 }}</option>
					</select>
					
					<input type="submit" name="game" value="Game 3">
				</form>
				
				<p>Winner: {{ userGroup.win3 }}</p>
			</div>
			<div class="view_team">
				<h4>Game 4</h4>
				<form action="{% url 'bracket:userBracket' userGroup.id %}" method="POST">
				{% csrf_token %}
					<select name="team">
						<option value="{{ userGroup.groupG1 }}">{{ userGroup.groupG1 }}</option>
						<option value="{{ userGroup.groupH2 }}">{{ userGroup.groupH2 }}</option>
					</select>
					
					<input type="submit" name="game" value="Game 4">
				</form>
				
				<p>Winner: {{ userGroup.win4 }}</p>
			</div>
			<div class="view_team">
				<h4>Game 5</h4>
				<form action="{% url 'bracket:userBracket' userGroup.id %}" method="POST">
				{% csrf_token %}
					<select name="team">
						<option value="{{ userGroup.groupB1 }}">{{ userGroup.groupB1 }}</option>
						<option value="{{ userGroup.groupA2 }}">{{ userGroup.groupA2 }}</option>
					</select>
					
					<input type="submit" name="game" value="Game 5">
				</form>
				
				<p>Winner: {{ userGroup.win5 }}</p>
			</div>
			<div class="view_team">
				<h4>Game 6</h4>
				<form action="{% url 'bracket:userBracket' userGroup.id %}" method="POST">
				{% csrf_token %}
					<select name="team">
						<option value="{{ userGroup.groupD1 }}">{{ userGroup.groupD1 }}</option>
						<option value="{{ userGroup.groupC2 }}">{{ userGroup.groupC2 }}</option>
					</select>
					
					<input type="submit" name="game" value="Game 6">
				</form>
				
				<p>Winner: {{ userGroup.win6 }}</p>
			</div>
			<div class="view_team">
				<h4>Game 7</h4>
				<form action="{% url 'bracket:userBracket' userGroup.id %}" method="POST">
				{% csrf_token %}
					<select name="team">
						<option value="{{ userGroup.groupF1 }}">{{ userGroup.groupF1 }}</option>
						<option value="{{ userGroup.groupE2 }}">{{ userGroup.groupE2 }}</option>
					</select>
					
					<input type="submit" name="game" value="Game 7">
				</form>
				
				<p>Winner: {{ userGroup.win7 }}</p>
			</div>
			<div class="view_team">
				<h4>Game 8</h4>
				<form action="{% url 'bracket:userBracket' userGroup.id %}" method="POST">
				{% csrf_token %}
					<select name="team">
						<option value="{{ userGroup.groupH1 }}">{{ userGroup.groupH1 }}</option>
						<option value="{{ userGroup.groupG2 }}">{{ userGroup.groupG2 }}</option>
					</select>
					
					<input type="submit" name="game" value="Game 8">
				</form>
				
				<p>Winner: {{ userGroup.win8 }}</p>
			</div>
			<div class="view_team">
				<h4>Game 9</h4>
				<form action="{% url 'bracket:userBracket' userGroup.id %}" method="POST">
				{% csrf_token %}
					<select name="team">
						<option value="{{ userGroup.win1 }}">{{ userGroup.win1 }}</option>
						<option value="{{ userGroup.win2 }}">{{ userGroup.win2 }}</option>
					</select>
					
					<input type="submit" name="game" value="Game 9">
				</form>
				
				<p>Winner: {{ userGroup.win9 }}</p>
			</div>
			<div class="view_team">
				<h4>Game 10</h4>
				<form action="{% url 'bracket:userBracket' userGroup.id %}" method="POST">
				{% csrf_token %}
					<select name="team">
						<option value="{{ userGroup.win3 }}">{{ userGroup.win3 }}</option>
						<option value="{{ userGroup.win4 }}">{{ userGroup.win4 }}</option>
					</select>
					
					<input type="submit" name="game" value="Game 10">
				</form>
				
				<p>Winner: {{ userGroup.win10 }}</p>
			</div>
			<div class="view_team">
				<h4>Game 11</h4>
				<form action="{% url 'bracket:userBracket' userGroup.id %}" method="POST">
				{% csrf_token %}
					<select name="team">
						<option value="{{ userGroup.win5 }}">{{ userGroup.win5 }}</option>
						<option value="{{ userGroup.win6 }}">{{ userGroup.win6 }}</option>
					</select>
					
					<input type="submit" name="game" value="Game 11">
				</form>
				
				<p>Winner: {{ userGroup.win11 }}</p>
			</div>
			<div class="view_team">
				<h4>Game 12</h4>
				<form action="{% url 'bracket:userBracket' userGroup.id %}" method="POST">
				{% csrf_token %}
					<select name="team">
						<option value="{{ userGroup.win7 }}">{{ userGroup.win7 }}</option>
						<option value="{{ userGroup.win8 }}">{{ userGroup.win8 }}</option>
					</select>
					
					<input type="submit" name="game" value="Game 12">
				</form>
				
				<p>Winner: {{ userGroup.win12 }}</p>
			</div>
			<div class="view_team">
				<h4>Game 13</h4>
				<form action="{% url 'bracket:userBracket' userGroup.id %}" method="POST">
				{% csrf_token %}
					<select name="team">
						<option value="{{ userGroup.win9 }}">{{ userGroup.win9 }}</option>
						<option value="{{ userGroup.win10 }}">{{ userGroup.win10 }}</option>
					</select>
					
					<input type="submit" name="game" value="Game 13">
				</form>
				
				<p>Winner: {{ userGroup.win13 }}</p>
			</div>
			<div class="view_team">
				<h4>Game 14</h4>
				<form action="{% url 'bracket:userBracket' userGroup.id %}" method="POST">
				{% csrf_token %}
					<select name="team">
						<option value="{{ userGroup.win11 }}">{{ userGroup.win11 }}</option>
						<option value="{{ userGroup.win12 }}">{{ userGroup.win12 }}</option>
					</select>
					
					<input type="submit" name="game" value="Game 14">
				</form>
				
				<p>Winner: {{ userGroup.win14 }}</p>
			</div>
			<div class="view_team">
				<h4>Game 15</h4>
				<form action="{% url 'bracket:userBracket' userGroup.id %}" method="POST">
				{% csrf_token %}
					<select name="team">
						<option value="{{ userGroup.loss1 }}">{{ userGroup.loss1 }}</option>
						<option value="{{ userGroup.loss2 }}">{{ userGroup.loss2 }}</option>
					</select>
					
					<input type="submit" name="game" value="Third">
				</form>
				
				<p>Winner: {{ userGroup.third }}</p>
			</div>
			<div class="view_team">
				<h4>Game 16</h4>
				<form action="{% url 'bracket:userBracket' userGroup.id %}" method="POST">
				{% csrf_token %}
					<select name="team">
						<option value="{{ userGroup.win13 }}">{{ userGroup.win13 }}</option>
						<option value="{{ userGroup.win14 }}">{{ userGroup.win14 }}</option>
					</select>
					
					<input type="submit" name="game" value="Champion">
				</form>
				
				<p>Winner: {{ userGroup.champion }}</p>
			</div>
		</div>
	</main>
	{% endif %}
	</aside>
	</div>
	
	<br><br>
	<footer>
		<table>
		<tr>
			<td>
			{%if userGroup.groupA1 %}
				<p class="team">{{ userGroup.groupA1 }}</p>
			{% else %}
				<p class="team">A1</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{%if userGroup.groupB1 %}
				<p class="team">{{ userGroup.groupB1 }}</p>
			{% else %}
				<p class="team">B1</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			{% if userGroup.win1 %}
				<p>Game 1</p>
				<p class="team">{{ userGroup.win1 }}</p>
			{% elif userGroup.groupA1 and userGroup.groupB2 %}
				<p>Game 1</p>
				<p class="team">Winner of {{ userGroup.groupA1 }} vs {{ userGroup.groupB2 }}</p>
			{% elif userGroup.groupB2 %}
				<p>Game 1</p>
				<p class="team">Winner of A1 vs {{ userGroup.groupB2 }}</p>
			{% elif userGroup.groupA1 %}
				<p>Game 1</p>
				<p class="team">Winner of {{ userGroup.groupA1 }} vs B2</p>
			{% else %}
				<p>Game 1</p>
				<p class="team">Winner of A1 vs B2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{% if userGroup.win5 %}
				<p>Game 5</p>
				<p class="team">{{ userGroup.win5 }}</p>
			{% elif userGroup.groupB1 and userGroup.groupA2 %}
				<p>Game 5</p>
				<p class="team">Winner of {{ userGroup.groupB1 }} vs {{ userGroup.groupA2 }}</p>
			{% elif userGroup.groupA2 %}
				<p>Game 5</p>
				<p class="team">Winner of B1 vs {{ userGroup.groupA2 }}</p>
			{% elif userGroup.groupB1 %}
				<p>Game 5</p>
				<p class="team">Winner of {{ userGroup.groupB1 }} vs A2</p>
			{% else %}
				<p>Game 5</p>
				<p class="team">Winner of B1 vs A2</p>
			{% endif %}
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if userGroup.groupB2 %}
				<p class="team">{{ userGroup.groupB2 }}</p>
			{% else %}
				<p class="team">B2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{%if userGroup.groupA2 %}
				<p class="team">{{ userGroup.groupA2 }}</p>
			{% else %}
				<p class="team">A2</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td>
			{% if userGroup.win9 %}
				<p>Game 9</p>
				<p class="team">{{ userGroup.win9 }}</p>
			{% elif userGroup.win1 and userGroup.win2 %}
				<p>Game 9</p>
				<p class="team">Winner of {{ userGroup.win1 }} vs {{ userGroup.win2 }}</p>
			{% elif userGroup.win1 %}
				<p>Game 9</p>
				<p class="team">Winner of {{ userGroup.win1 }} and ({{ userGroup.groupA1 }} vs {{ userGroup.groupB2 }})</p>
			{% elif userGroup.win2 %}
				<p>Game 9</p>
				<p class="team">Winner of ({{ userGroup.groupA1 }} and {{ userGroup.groupB2 }}) vs {{ userGroup.win2 }}</p>
			{% else %}
				<p>Game 9</p>
				<p class="team">Winner of ({{ userGroup.groupA1 }} vs {{ userGroup.groupB2 }}) and ({{ userGroup.groupC1 }} vs {{ userGroup.groupD2 }})</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{% if userGroup.win11 %}
				<p>Game 11</p>
				<p class="team">{{ userGroup.win11 }}</p>
			{% elif userGroup.win5 and userGroup.win6 %}
				<p>Game 11</p>
				<p class="team">Winner of {{ userGroup.win5 }} vs {{ userGroup.win6 }}</p>
			{% elif userGroup.win5 %}
				<p>Game 11</p>
				<p class="team">Winner of {{ userGroup.win5 }} and ({{ userGroup.groupC1 }} vs {{ userGroup.groupD2 }})</p>
			{% elif userGroup.win6 %}
				<p>Game 11</p>
				<p class="team">Winner of ({{ userGroup.groupB1 }} and {{ userGroup.groupA2 }}) vs {{ userGroup.win6 }}</p>
			{% else %}
				<p>Game 11</p>
				<p class="team">Winner of ({{ userGroup.groupB1 }} vs {{ userGroup.groupA2 }}) and ({{ userGroup.groupD1 }} vs {{ userGroup.groupC2 }})</p>
			{% endif %}
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if userGroup.groupC1 %}
				<p class="team">{{ userGroup.groupC1 }}</p>
			{% else %}
				<p class="team">C1</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{%if userGroup.groupD1 %}
				<p class="team">{{ userGroup.groupD1 }}</p>
			{% else %}
				<p class="team">D1</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			{% if userGroup.win2 %}
				<p>Game 2</p>
				<p class="team">{{ userGroup.win2 }}</p>
			{% elif userGroup.groupC1 and userGroup.groupD2 %}
				<p>Game 2</p>
				<p class="team">Winner of {{ userGroup.groupC1 }} vs {{ userGroup.groupD2 }}</p>
			{% elif userGroup.groupD2 %}
				<p>Game 2</p>
				<p class="team">Winner of C1 vs {{ userGroup.groupD2 }}</p>
			{% elif userGroup.groupC1 %}
				<p>Game 2</p>
				<p class="team">Winner of {{ userGroup.groupC1 }} vs D2</p>
			{% else %}
				<p>Game 2</p>
				<p class="team">Winner of C1 vs D2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">Champions</p>
				
				{% if userGroup.champion %}
					<p>{{ userGroup.champion }}</p>
				{% else %}
					<p></p>
				{% endif %}
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{% if userGroup.win6 %}
				<p>Game 6</p>
				<p class="team">{{ userGroup.win6 }}</p>
			{% elif userGroup.groupD1 and userGroup.groupC2 %}
				<p>Game 6</p>
				<p class="team">Winner of {{ userGroup.groupD1 }} vs {{ userGroup.groupC2 }}</p>
			{% elif userGroup.groupB2 %}
				<p>Game 6</p>
				<p class="team">Winner of D1 vs {{ userGroup.groupC2 }}</p>
			{% elif userGroup.groupD1 %}
				<p>Game 6</p>
				<p class="team">Winner of {{ userGroup.groupD1 }} vs C2</p>
			{% else %}
				<p>Game 6</p>
				<p class="team">Winner of D1 vs C2</p>
			{% endif %}
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if userGroup.groupD2 %}
				<p class="team">{{ userGroup.groupD2 }}</p>
			{% else %}
				<p class="team">D2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{%if userGroup.groupC2 %}
				<p class="team">{{ userGroup.groupC2 }}</p>
			{% else %}
				<p class="team">C2</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			{% if userGroup.win13 %}
				<p>Game 13</p>
				<p class="team">{{ userGroup.win13 }}</p>
			{% elif userGroup.win9 and userGroup.win10 %}
				<p>Game 13</p>
				<p class="team">{{ userGroup.win9 }} vs {{ userGroup.win10 }}</p>
			{% else %}
				<p>Game 13</p>
				<p class="team">Left Side Winner</p>
			{% endif %}
			</td>
			<td>
				<p class="team">vs</p>
			</td>
			<td>
			{% if userGroup.win14 %}
				<p>Game 14</p>
				<p class="team">{{ userGroup.win14 }}</p>
			{% elif userGroup.win12 and userGroup.win11 %}
				<p>Game 14</p>
				<p class="team">{{ userGroup.win11 }} vs {{ userGroup.win12 }}</p>
			{% else %}
				<p>Game 14</p>
				<p class="team">Left Side Winner</p>
			{% endif %}
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if userGroup.groupE1 %}
				<p class="team">{{ userGroup.groupE1 }}</p>
			{% else %}
				<p class="team">E1</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{%if userGroup.groupF1 %}
				<p class="team">{{ userGroup.groupF1 }}</p>
			{% else %}
				<p class="team">F1</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			{% if userGroup.win3 %}
				<p>Game 3</p>
				<p class="team">{{ userGroup.win3 }}</p>
			{% elif userGroup.groupE1 and userGroup.groupF2 %}
				<p>Game 3</p>
				<p class="team">Winner of {{ userGroup.groupE1 }} vs {{ userGroup.groupF2 }}</p>
			{% elif userGroup.groupF2 %}
				<p>Game 3</p>
				<p class="team">Winner of E1 vs {{ userGroup.groupF2 }}</p>
			{% elif userGroup.groupE1 %}
				<p>Game 3</p>
				<p class="team">Winner of {{ userGroup.groupE1 }} vs F2</p>
			{% else %}
				<p>Game 3</p>
				<p class="team">Winner of E1 vs F2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
				<p class="team">3rd Place</p>
				
				{% if userGroup.third %}
					<p>{{ userGroup.third }}</p>
				{% else %}
					<p></p>
				{% endif %}
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{% if userGroup.win7 %}
				<p>Game 7</p>
				<p class="team">{{ userGroup.win7 }}</p>
			{% elif userGroup.groupF1 and userGroup.groupE2 %}
				<p>Game 7</p>
				<p class="team">Winner of {{ userGroup.groupF1 }} vs {{ userGroup.groupE2 }}</p>
			{% elif userGroup.groupE2 %}
				<p>Game 7</p>
				<p class="team">Winner of F1 vs {{ userGroup.groupE2 }}</p>
			{% elif userGroup.groupF1 %}
				<p>Game 7</p>
				<p class="team">Winner of {{ userGroup.groupF1 }} vs E2</p>
			{% else %}
				<p>Game 7</p>
				<p class="team">Winner of F1 vs E2</p>
			{% endif %}
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if userGroup.groupF2 %}
				<p class="team">{{ userGroup.groupF2 }}</p>
			{% else %}
				<p class="team">F2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{%if userGroup.groupE2 %}
				<p class="team">{{ userGroup.groupE2 }}</p>
			{% else %}
				<p class="team">E2</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			</td>
			<td>
			{% if userGroup.win10 %}
				<p>Game 10</p>
				<p class="team">{{ userGroup.win10 }}</p>
			{% elif userGroup.win3 and userGroup.win4 %}
				<p>Game 10</p>
				<p class="team">Winner of {{ userGroup.win3 }} vs {{ userGroup.win4 }}</p>
			{% elif userGroup.win3 %}
				<p>Game 10</p>
				<p class="team">Winner of {{ userGroup.win3 }} and ({{ userGroup.groupG1 }} vs {{ userGroup.groupH2 }})</p>
			{% elif userGroup.win4 %}
				<p>Game 10</p>
				<p class="team">Winner of ({{ userGroup.groupE1 }} and {{ userGroup.groupF2 }}) vs {{ userGroup.win4 }}</p>
			{% else %}
				<p>Game 10</p>
				<p class="team">Winner of ({{ userGroup.groupE1 }} vs {{ userGroup.groupF2 }}) and ({{ userGroup.groupG1 }} vs {{ userGroup.groupH2 }})</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{% if userGroup.win12 %}
				<p>Game 12</p>
				<p class="team">{{ userGroup.win12 }}</p>
			{% elif userGroup.win7 and userGroup.win8 %}
				<p>Game 12</p>
				<p class="team">Winner of {{ userGroup.win7 }} vs {{ userGroup.win8 }}</p>
			{% elif userGroup.win7 %}
				<p>Game 12</p>
				<p class="team">Winner of {{ userGroup.win7 }} and ({{ userGroup.groupH1 }} vs {{ userGroup.groupG2 }})</p>
			{% elif userGroup.win8 %}
				<p>Game 12</p>
				<p class="team">Winner of ({{ userGroup.groupH1 }} and {{ userGroup.groupG2 }}) vs {{ userGroup.win8 }}</p>
			{% else %}
				<p>Game 12</p>
				<p class="team">Winner of ({{ userGroup.groupF1 }} vs {{ userGroup.groupE2 }}) and ({{ userGroup.groupH1 }} vs {{ userGroup.groupG2 }})</p>
			{% endif %}
			</td>
			<td>
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if userGroup.groupG1 %}
				<p class="team">{{ userGroup.groupG1 }}</p>
			{% else %}
				<p class="team">G1</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┐</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">┌---</p>
			</td>
			<td>
			{%if userGroup.groupH1 %}
				<p class="team">{{ userGroup.groupH1 }}</p>
			{% else %}
				<p class="team">H1</p>
			{% endif %}
			</td>
		</tr>
		<tr>
			<td>
			</td>
			<td>
			{% if userGroup.win4 %}
				<p>Game 4</p>
				<p class="team">{{ userGroup.win4 }}</p>
			{% elif userGroup.groupG1 and userGroup.groupH2 %}
				<p>Game 4</p>
				<p class="team">Winner of {{ userGroup.groupG1 }} vs {{ userGroup.groupH2 }}</p>
			{% elif userGroup.groupH2 %}
				<p>Game 4</p>
				<p class="team">Winner of G1 vs {{ userGroup.groupH2 }}</p>
			{% elif userGroup.groupG1 %}
				<p>Game 4</p>
				<p class="team">Winner of {{ userGroup.groupG1 }} vs H2</p>
			{% else %}
				<p>Game 4</p>
				<p class="team">Winner of G1 vs H2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{% if userGroup.win8 %}
				<p>Game 8</p>
				<p class="team">{{ userGroup.win8 }}</p>
			{% elif userGroup.groupH1 and userGroup.groupG2 %}
				<p>Game 8</p>
				<p class="team">Winner of {{ userGroup.groupH1 }} vs {{ userGroup.groupG2 }}</p>
			{% elif userGroup.groupG2 %}
				<p>Game 8</p>
				<p class="team">Winner of H1 vs {{ userGroup.groupG2 }}</p>
			{% elif userGroup.groupH1 %}
				<p>Game 8</p>
				<p class="team">Winner of {{ userGroup.groupH1 }} vs G2</p>
			{% else %}
				<p>Game 8</p>
				<p class="team">Winner of H1 vs G2</p>
			{% endif %}
			</td>
			<td>
			</td>
		</tr>
		<tr>
			<td>
			{%if userGroup.groupH2 %}
				<p class="team">{{ userGroup.groupH2 }}</p>
			{% else %}
				<p class="team">H2</p>
			{% endif %}
			</td>
			<td>
				<p class="symbol">---┘</p>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
			</td>
			<td>
				<p class="symbol">└---</p>
			</td>
			<td>
			{%if userGroup.groupG2 %}
				<p class="team">{{ userGroup.groupG2 }}</p>
			{% else %}
				<p class="team">G2</p>
			{% endif %}
			</td>
		</tr>
		</table>
	</footer>
	
	<br>
	<br>
	<footer>
		<h4>Important Dates:</h4>
		<p style="text-align:center">June 29th - <br>Group Stage is finished.<br>Initial scoring and Bracket Edit Day.</p>
	</footer>
	
</body>
</html>