header, footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}


main {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.login {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	border: solid;
	padding: 10px;
}

.error {
	color: red;
}

.good {
	color: green;
	font-weight: bold;
}


.bracket {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.stage {
	display: flex;
	flex-direction: column;
	padding: 50px;
}


.game2 {
	margin-top: 65px;
	margin-bottom: 65px;
}

.game11 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.game {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

td {
	text-align: center;
	width: 100px;
	word-wrap: normal;
}

.symbol {
	font-weight: bold;
	font-size: 20px;
}

.team {
	text-decoration: underline;
	font-variant: small-caps;
}

table {
	border: solid;
}

.groups {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

}

.add_team {
	display: flex;
	flex-direction: column;
	padding: 50px;
	align-items: center;
	border: solid;
}

.group {
	text-decoration: underline;
	font-weight: bold;
	font-size: 20px;
}


.team_choice {
	display: flex;
	flex-direction: row;
	margin: 5px;
}


.team_box {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.user-header {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: black;
}

.header-piece {
	display: flex;
	margin: 5px;
	color: white;
}
